[Unit]
Description=Quoter

[Service]
ExecStart=/usr/bin/node /home/pi/SpeakerOfQoutes/quote-site/index.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/SpeakerOfQoutes/quote-site/

[Install]
WantedBy=multi-user.target