[Unit]
Description=Quoter

[Service]
Restart=always
User=pi
WorkingDirectory=/home/pi/SpeakerOfQoutes/quote-site
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target