[Unit]
Description=Quoter

[Service]
Restart=always
User=root
WorkingDirectory=/home/pi/SpeakerOfQoutes/quote-site
ExecStart=/usr/bin/node ./bin/www

[Install]
WantedBy=multi-user.target