[Unit]
Description=Recognizer
After=network.target

[Service]
Restart=always
User=root
WorkingDirectory=/home/pi/SpeakerOfQoutes/recognizer
ExecStart=start.sh

[Install]
WantedBy=multi-user.target