[Unit]
Description=Recognizer
After=network.target

[Service]
Restart=always
User=root
WorkingDirectory=/home/pi/SpeakerOfQoutes/recognizer
ExecStart=/usr/bin/python2.7 find_faces.py

[Install]
WantedBy=multi-user.target