[Unit]
Description=Speaker

[Service]
Restart=always
User=root
WorkingDirectory=/home/pi/SpeakerOfQoutes/speaker
ExecStart=/usr/local/bin/node index.js

[Install]
WantedBy=multi-user.target