[Unit]
Description=Button
After=network.target

[Service]
Restart=always
User=root
WorkingDirectory=/home/pi/SpeakerOfQoutes/button
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target